Game Store Web Front/Game Store Web Front/obj/
Game Store Web Front/packages/
GameStoreMobileApp/Droid/obj/
GameStoreMobileApp/iOS/obj/
GamesTore/GamesTore/bin/
GamesTore/GamesTore/obj/
GamesTore/packages/
GameStoreMobileApp/Droid/bin/
